

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: linear-gradient(#008BFF, #5CB3F9);
}

.layout{
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 12px;
  box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.55);
}

.menu{
  position:absolute;
  width:85px;
  height: 83%;
  background-color: #2386E7;
  margin-left: 7%;
  margin-top: 63px;
  border-radius: 12px;
  box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.55);
  z-index: 2;
}

.todotable{
  position:fixed;
  width:77%;
  height: 83%;
  background-image: linear-gradient(#6600FF, #00B3FF);
  margin-left: 15%;
  margin-top: 63px;
  border-radius: 12px;
  box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.55);
}

.title{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: .5em;
  margin-top: .5em;
  font-size: 100px;
  color: #2386E7;
  font-family: Adobe Arabic;

}

.controls{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.button{
  margin-bottom: 2em;
  width: 100%;
  height: 5em;
  border: none;
  background: none;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,0);
  border-width: none;
  transition: border 1s, background-color .4s;
}

.create{
  width: 3em;
  height: 5em;
  object-fit: contain;
}

.button:hover{
  background-color: rgba(255,255,255,.3);
  border-left: solid;
  border-color: white;
  border-width: thick;
  transition: border-width .4s, background-color .2s;
}

.slideout{
  position:absolute;
  width:25%;
  text-align: center;
  height: 83%;
  background-color: #2386E7;
  margin-left: 12%;
  margin-top: 63px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: -2px 4px 24px 0px rgba(0,0,0,0.55);
  z-index: 1;
  transition: width .7s;
}

.slidein{
  width:0;
  /* transition: width .1s; */
  animation: slide 1s;
}


input{
  margin-top: 1em;
  width:15em;
  height: 1.5em;
  border: none;
  padding:8px;
  border-radius: 4px;
  box-shadow: -3px 0px 13px 1px rgba(0,0,0,0.29);
}

.taskinput{
  padding-bottom: 15em;
}

.boxes{
  margin-top: -2em;
}

.newtask{
  font-size: 3em;
  color:white;
  font-family: Adobe Arabic;
  font-style: italic;
}

.submit{
  position: relative;
  margin-top: .5em;
  width:4em;
  height: 1.5em;
  border: none;
  background-color: white;
  box-shadow: -3px 0px 13px 1px rgba(0,0,0,0.29);
  font-family: Adobe Arabic;
  font-style: italic;
  font-size: 2em;
}

.hide{
  display: none;
}

.canvas{
  display: flex;
  flex-direction: row;
  position: relative;
  flex-flow: wrap;
  justify-content: center;
}

.tkt{
border: solid;
margin-top: 10em;
margin-left: 1em;
}

.todo{
  position: relative;
  padding:1em;
  width: 200px;
}
